@reference "tailwindcss";

.footer_section {
	@apply border-t py-4 px-3
		border-t-neutral-600
		bg-[#0a0a0a] z-10 flex
		justify-between items-center
		max-[850px]:flex-col
		max-[850px]:justify-center
		max-[850px]:py-2
		max-[850px]:gap-2;
}