@reference "tailwindcss";

.is_opened {
    @apply fixed inset-0 z-30
        h-[100vh] w-[100vw] flex flex-col items-end
        justify-center p-7 text-white text-6xl
        max-[670px]:text-5xl max-[670px]:p-5
        max-[520px]:text-4xl max-[520px]:p-3;
}

.menu_list_section {
    @apply flex flex-col gap-10 pr-8
        max-[670px]:gap-8 max-[670px]:pr-5
        max-[520px]:gap-6 max-[520px]:pr-3;
}

.hoverText {
    transition:
        0.35s color,
        0.35s scale,
}

.hoverText:hover {
    scale: 145%;
    color: blue;
}

/* To the right */
.hoverText:hover + .hoverText {
    scale: 125%;
}

.hoverText:hover + .hoverText + .hoverText {
    scale: 115%;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
    scale: 125%;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
    scale: 115%;
}