@reference "tailwindcss";

.proj_info_dection {
	@apply flex flex-col
		z-30 gap-8 w-[35vw]
		max-[560px]:gap-4;
}

.title {
	@apply text-white text-5xl font-bold
		max-[860px]:text-3xl
		max-[560px]:text-xl;
}

.description {
	@apply text-transparent font-extralight
		bg-gradient-to-br from-white
		to-gray-400 bg-clip-text
		max-[860px]:text-sm
		max-[560px]:text-xs;
}