@reference "tailwindcss";

.date_title_section {
  @apply flex gap-12
        items-center
        sticky top-20
        max-[600px]:gap-6;
}

.timeline_ring {
	@apply h-2 w-2 bg-neutral-800 p-2
		rounded-full border
		border-neutral-700
		ring-10 ring-black;
}

.date_title {
	@apply text-7xl text-neutral-500
		font-bold
		max-[845px]:text-6xl
		max-[710px]:text-5xl
		max-[600px]:text-4xl
		max-[390px]:text-2xl;
}