@reference "tailwindcss";

.colorful_frame {
	@apply col-span-1 relative min-w-[200px]
			h-[80vh] rounded-[2rem]
			max-[1110px]:col-span-2;
}

.contact_data_section {
	@apply h-full w-full flex flex-col
		items-center rounded-2xl
		shadow-[0px_0px_27px_0px_#2D2D2D]
		p-5 transition-all duration-300;
}

.section_frame {
	@apply relative h-full w-full
		border-2 p-3.5
		rounded-[inherit] shadow-2xl;
}