@import "tailwindcss";

main,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
}

/* Cursor customisation */
body {
    cursor: url('/cursor/mouse.png') 0 0, pointer;
};

.cursor-pointer {
    cursor: url('/cursor/pointer.png') 0 0, pointer;
};

main::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@theme {
  /* colors */
  --color-pinkish: #953396;
  --color-gold: #E2BA41;

  /* shadows */
  --shadow-3xl: 35px 35px 4rem 0.5rem black;
}