@import "tailwindcss";

:root {
  --cursor-default: url('/cursor/mouse.png') 0 0, auto;
  --cursor-pointer: url('/cursor/pointer.png') 0 0, pointer;
}

main,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Cursor customisation */
html,
body {
  cursor: var(--cursor-default);
}

a,
button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"],
.cursor-pointer {
  cursor: var(--cursor-pointer) !important;
}

html.is-switcher-hovered,
html.is-switcher-hovered * {
  cursor: var(--cursor-pointer) !important;
}

main::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@theme {
  /* colors */
  --color-pinkish: #953396;
  --color-gold: #E2BA41;

  /* shadows */
  --shadow-3xl: 35px 35px 4rem 0.5rem black;
}
